body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, rgba(238,174,202,1) 40%, rgba(148,187,233,1) 100%);
}

.container{
    width: 80%;
    max-width: 500px;
    background-color: #eeaecad6;
    margin: 6rem auto;
    min-height: 70vh;
    box-shadow: 4px 5px 50px rgba(187, 13, 68, 0.445) ;
    display: flex;
    justify-content: center;
    
    
}

.container-child{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.button{
    max-width: 100%;
    padding: 1em;
    margin-bottom: 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #94bbe9;
    border: none;
    box-shadow: 0px 5px 10px rgba(20, 104, 183, 0.445) ;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    
    
    
    
}

.button:hover{
    background-color: #fff;
    color: #94bbe9;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #121114;
    text-decoration: underline;
    
    margin: 0 auto;
    
}

@media only screen and (min-width: 500px){
    .button{
        padding: 2rem;
        font-size: 24px;
    }
}

.number{
    width: 60px;
    margin-bottom: 20px;
    border: none;
}

label{
    text-align: center;
}